@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1f1d24;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover, a:hover {
  filter: brightness(0.9)
}

::-webkit-scrollbar{
  width: 0.5rem;
  background-color: #141414;
}
::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: #05f086;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #0af088;
}